@model OnlineShop4DVDS.Models.Artist

@{
    ViewData["Title"] = "ArtistUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ArtistUpdate</h1>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ArtistUpdate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtistId" />
            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistAge" class="control-label"></label>
                <input asp-for="ArtistAge" class="form-control" />
                <span asp-validation-for="ArtistAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistDateOfBirth" class="control-label"></label>
                <input asp-for="ArtistDateOfBirth" class="form-control" />
                <span asp-validation-for="ArtistDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistBio" class="control-label"></label>
                <input asp-for="ArtistBio" class="form-control" />
                <span asp-validation-for="ArtistBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistImage" class="control-label"></label>
                <input asp-for="ArtistImage" class="form-control" />
                <span asp-validation-for="ArtistImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistRoleId" class="control-label">Artist Role</label>
                <select asp-for="ArtistRoleId" class="form-control" asp-items="ViewBag.ArtistRoles"></select>
                <span asp-validation-for="ArtistRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
