@model OnlineShop4DVDS.Models.Artist

@{
    ViewData["Title"] = "ArtistInsert";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ArtistInsert" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistRoleId">Artist Role</label>
                <select asp-for="ArtistRoleId" class="form-control" asp-items="@(new SelectList(ViewBag.ArtistRoles, "ArtistRoleId", "ArtistRoleName"))">
                    <option value="">-- Select Role --</option>
                </select>
                <span asp-validation-for="ArtistRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ArtistView" asp-controller="Admin" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
