@model IEnumerable<OnlineShop4DVDS.Models.Developer>

@{
    ViewData["Title"] = "DeveloperView";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<p>
    <a asp-action="DeveloperInsert" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperName)
            </td>
            <td>
                <a asp-action="DeveloperUpdate" asp-controller="Admin" class="btn btn-primary" asp-route-id="@item.DeveloperId">Edit</a>
                    <form method="post" asp-action="DeveloperDelete" style="display: inline;">
                    <input type="hidden" value="@item.DeveloperId" name="id"/>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this developer?');">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
