@model IEnumerable<OnlineShop4DVDS.Models.Genre>

@{
    ViewData["Title"] = "GenreView";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<p>
    <a asp-action="GenreInsert" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a asp-action="GenreUpdate" class="btn btn-primary" asp-route-id="@item.GenreId">Edit</a> |
                <form method="post" asp-action="GenreDelete" style="display: inline;">
                    <input type="hidden" name="id" value="@item.GenreId"/>
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this genre?');" class="btn btn-danger">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
